.app__game-section-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;

}

@media screen and (max-width: 950px) {
     .app__game-section-container {

          flex-direction: column;

     }
}

.app__game-container {

     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 100%;
     flex: 1;
}

.app__table-container {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.app__guess-header {
     margin-top: 1rem;
}

.app__guess-form {
     margin-top: 1.5rem;

}

button {

     padding: 0.5rem 1rem;
     margin: 0.5rem;
     border-radius: 0.5rem;
     background-color: var(--secondary-color);
     color: #fff;
     font-weight: 800;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
     text-decoration: none;
}

form {
     display: flex;
     flex-direction: column;

}

input {
     font-size: 3rem;
     width: 4rem;
     height: 4rem;
     border: 2px solid #aaa;
     text-align: center;
     box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}



input:focus {
     border: 2px solid yellowgreen;
     outline: none;
}


input:focus {

     animation-duration: 200ms;
}

.digits {
     padding: 20px;
     display: inline-block;
}




.styled-table {
     border-collapse: collapse;
     margin: 25px 0;
     font-size: 0.9em;
     font-family: sans-serif;
     min-width: 400px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.styled-table thead tr {
     background-color: #009879;
     color: #ffffff;
     text-align: left;
}

.styled-table th,
.styled-table td {
     padding: 12px 15px;
}

.styled-table tbody tr {
     border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
     background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
     border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
     font-weight: bold;
     color: #009879;
}


.styled-table tbody tr:nth-of-type(2n) {

     color: #009879;
}


.app__error-container {
     display: inline-block;
     color: red;
     height: 20px;
}

@media screen and (max-width: 950px) {
     input {
          width: 3rem;
          height: 3rem;
     }

     .styled-table {

          min-width: 300px;

     }
}

/* Ripple effect */
.ripple {
     background-position: center;
     transition: background 0.8s;
}

.ripple:hover {
     background: #313bac radial-gradient(circle, transparent 1%, #4b58e2 1%) center/15000%;
}

.ripple:active {
     background-color: #313bac;
     background-size: 100%;
     transition: background 0s;
}