nav {
    padding: 1rem;
    position: absolute;
    z-index: 99;
}



section {
    flex: 1;
    padding: 2rem;
    padding-top: 2rem;
    font-size: 1.2rem;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

}



section:target {
    display: block;
}

#home {
    display: block;
}

#guessed_number {
    width: 100px;
    border-radius: 50px;
}

/* #guess_button {
    border-radius: 50px;
    width: 100px;
    background-color: aqua;
} */